
  
<footer>
<div class="container-fluid">
<div class="row  logoFooter">
    <div class="col-xs-6  ">     <img  src="assets/img/JAreina-transparente.png" alt="logo" >  </div>
     
  </div>
  <div class="col-xs-11 col-xs-offset-10 correo">
      <app-correo></app-correo>
    </div>
    <div class="row">
  <div class="col-xs-12 col-md-4  izquierda pull-right">      
    <div class="col-xs-6 col-md-12">
    <a href="https://github.com/JAreina" target="_blank" ><i class="fa fa-github fa-lg"></i>&nbsp;  Github</a>
</div> 
<div class="col-xs-6 col-md-12">
  <a href="https://gitlab.com/JAreina" target="_blank" ><i class="fa fa-gitlab fa-lg"></i>&nbsp;  Gitlab</a>
</div> 
<div class="col-xs-6 col-md-12">
  <a href="https://bitbucket.com/JAreina" target="_blank" ><i class="fa fa-bitbucket fa-lg"></i>&nbsp;  Bitbucket</a>
</div>
    <div class="col-xs-6 col-md-12">
     <a href="http://www.linkedin.com/in/jareina" target="_blank" ><i class="fa fa-linkedin fa-lg"></i>&nbsp;   Linkedin </a>
</div>

         </div>

         
         
            <div class="col-xs-12  col-md-4 pull-left">
                
                    <ul class="col-md-12  col-xs-12 ">
                        <li class="col-md-12 col-xs-12"> <a routerLink="/home"> Home</a> </li>
                          <li class="col-md-12 col-xs-12"> <a routerLink="/cv" > CV</a> </li>
                          <li class="col-md-12 col-xs-12" ><a routerLink="/proyectos" > Porfolio</a></li>
                          <li class="col-md-12 col-xs-12" ><a routerLink="/proyectosrealizados" > Proyectos</a></li>
                      </ul>
    
              
                
               </div>


    </div>
  </div> 
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-12 jareina text-right">
          <span>  MMXVII-{{anio.getFullYear()}} &nbsp;   Hecho en Madrid con <img  class="hecho" src="assets/img/angular.png" > por JAreina</span>
          
             
        
        </div>
    </div>
      </div>
</footer>
