html,body{
    background-color: black;
}
.row.laCabecera{
    box-shadow: 1px 6px 3px rgba(0, 0, 0, 0.822);
}
.cambia{
    overflow-x: hidden;
}

img{
    width:90px;
    cursor:pointer;
}

.header{
    background-color:rgba(3, 7, 6, 0.82);
    position: fixed;
    top:0;
    width:100%;
    z-index:9999;
}


h1,h6{
    text-align: center;
    font-family: 'Volkhov', serif;
}
section{
    margin-top:54px;
}
