@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300|Volkhov:700');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Monoton');
/*font-family: 'Anton', sans-serif;
font-family: 'Volkhov', serif;
font-family: 'Monoton', cursive;*/
body{
  font-size: 15pt;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: rgba(15, 30, 32, 0.096);

}
.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
  }
  @keyframes rollIn {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 5, -180deg);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .rollIn {
    animation-name: rollIn;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }


  @keyframes fadeInRightBig {
    from {
      opacity: 0;
      transform: translate3d(2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInRightBig {
    animation-name: fadeInRightBig;
  }

  /* ----*/


  @keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    0% {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      transform: scale3d(.9, .9, .9);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: scale3d(.97, .97, .97);
    }
  
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
  
  .bounceIn {
    animation-name: bounceIn;
    animation-duration: 1.75s;
  }


  /*----*/
  @keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      transform: none;
    }
  }
  
  .bounceInLeft {
    animation-name: bounceInLeft;
  }

  /*  ---*/

  .rotateOutUpLeft {
    animation-name: rotateOutUpLeft;
  }
  
  @keyframes rotateOutUpRight {
    from {
      transform-origin: right bottom;
      opacity: 1;
    }
  
    to {
      transform-origin: right bottom;
      transform: rotate3d(0, 0, 1, 90deg);
      opacity: 1;
    }
  }
  
  .rotateOutUpRight {
    animation-name: rotateOutUpRight;
  }
  
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}
